.card-box {
    width: 100%;
    height: max-content;
}

.card-container {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 680px) {
    .card-container.fit-sm {
        width: calc(50% - 0.175rem);
    }
}

@media screen and (max-width: 680px) {
    .card-container.fit-sm {
        width: 100%;
    }
}

.card {
    border: 0;
    box-shadow: 0 0.25rem 1rem rgb(48 55 66 / 20%);
    height: 100%;
    margin: 0.5rem;
}

* {
    --p-margin-bottom: 0.5rem;
}

.card.custom-card {
    padding: 0.8rem 0.8rem calc(0.8rem - var(--p-margin-bottom)) 0.8rem;
}

.card.custom-card p {
    margin: 0 0 var(--p-margin-bottom) 0;
}

.md-title {
    margin-bottom: 0.8rem;
}

.card-title.strong,
.md-title.strong {
    font-weight: bold;
}
