@media (pointer: coarse) {
    body {
        margin-bottom: 40vh;
    }
}

.tooltip-full::after {
    white-space: break-spaces;
    width: max-content;
    left: auto;
    transform: translate(0, 0.4rem);
}
.tooltip-full:focus:after,
.tooltip-full:hover:after {
    transform: translate(0, -0.2rem);
}
.property-box {
    position: relative;
    display: block;
    margin-bottom: 3rem;
}
.property-box .property .property-label {
    min-width: 25%;
    width: max-content;
}
.property-box .property .property-option {
    margin-left: 1rem;
    min-width: 3rem;
    flex-grow: 1;
}
.property-box .property .property-option label {
    white-space: nowrap;
}
.confirm-edit {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    padding: 0.5rem 0.6rem;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
    );
}
@media screen and (min-width: 680px) {
    .confirm-edit {
        left: calc(var(--sidebar-width) + 8px);
        transition: left 0.25s;
    }
}
@media screen and (max-width: 680px) {
    .confirm-edit {
        left: 8px !important;
    }
}
