@media (pointer: coarse) {
    body {
        margin-bottom: 50vh;
    }
}

.output-window {
    width: 100%;
    height: calc(100vh - 16rem);
    background: #fff;
    border: 0.05rem solid #bcc3ce;
    border-radius: 0.1rem;
    color: #3b4351;
    display: block;
    padding: 0.5em 0.5rem;
    font-size: 0.75rem;
    overflow-y: auto;
}
.output-window::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.output-window::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
}
.output-window::-webkit-scrollbar-thumb:hover,
.output-window::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.35);
}
.output-window::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0);
}
.output-window .output-cmd,
.output-window .output-msg {
    width: max-content;
    height: fit-content;
    display: block;
    overflow: hidden;
    word-break: normal;
    white-space: nowrap;
}
.output-window.break-word .output-cmd,
.output-window.break-word .output-msg {
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    white-space: break-spaces;
}
.output-window .output-cmd::before {
    content: "> ";
    user-select: none;
    color: #3b4351;
    font-weight: bold;
}
